/* Chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* max-width: 400px; */
  margin: 0 auto;
  border: 1px solid #4b4b4b;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  overflow-y: auto;
  height: 80vh;
  position: relative; 
}


.chat-messages {
  padding: 20px;
  /* overflow-y: auto; */
  flex: 1;
  min-height: 100vh;
  max-height: calc(70vh - 80px); 
}


.chat-bubble {
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-bubble.user {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}


.chat-bubble.bot {
  background-color: #f0f0f0;
  color: #333;
  align-self: flex-start;
}

.input-container {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
}

input {
  flex: 1;
  width: calc(80vw - 60px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}


button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 9vw;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  height: 10vh;
  background-color: #fff;
  padding: 10px 20px; 
}

.dark {
  background-color: #141414;
}

.logo{
  width: auto;
  height: 8vh;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.promo-container {
  display: flex;
  justify-content: center;
  background-color: white;
}

.promo {
  margin: 10px;
}